<h1>Listing bets</h1>

<table cellpadding="10px" cellspacing="0px" border="1px">
  <thead>
    <tr>
      <th>User</th>
      <th>Bet amount</th>
      <th>Event</th>
      <th>Event Name</th>
      <th>Outcome</th>
      <th>Outcome Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.user_id %></td>
        <td><%= bet.bet_amount %></td>
        <td><%= bet.event_id %></td>
        <td><%= Event.find(bet.event_id).name %></td>
        <td><%= bet.outcome_id %></td>
        <td><%= Outcome.find(bet.outcome_id).outcome_name %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
