<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @event.desc %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Open till:</strong>
  <%= @event.open_till %>
</p>

<p>
  <strong>Results till:</strong>
  <%= @event.results_till %>
</p>

<p>
  <strong>Total bets:</strong>
  <%= @event.total_bets %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
