<h1>Listing outcomes</h1>

<table cellpadding="10px" cellspacing="0px" border="1px">
  <thead>
    <tr>
      <th>Outcome id</th>
      <th>Outcome name</th>
      <th>Event</th>
      <th>Odds</th>
      <th>Number of bets</th>
      <th>Odds display text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outcomes.each do |outcome| %>
      <tr>
        <td><%= outcome.id %></td>
        <td><%= outcome.outcome_name %></td>
        <td><%= outcome.event_id %></td>
        <td><%= outcome.odds %></td>
        <td><%= outcome.number_of_bets %></td>
        <td><%= outcome.odds_display_text %></td>
        <td><%= link_to 'Show', outcome %></td>
        <td><%= link_to 'Edit', edit_outcome_path(outcome) %></td>
        <td><%= link_to 'Destroy', outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outcome', new_event_outcome_path(@event) %> |
<%= link_to 'Back to Event', event_path(@event) %>
